/* Regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}

header{
    padding: 10px 30px;
    background-color: white;
    margin-bottom: 40px;
}

#scrittalogo{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

#logo{
    line-height: 100px;
    vertical-align: middle;
    
}

.navigazione{
    width: 60%;
    height: 50px;
    background-color: white;
    margin:auto;
    border-radius:5px 5px 0 0 ;
}

#task{
    background-color: rgb(0, 149, 255);
    color: white;
    border-radius: 4px;
    border: 1px solid rgba(151, 151, 151, 0.807);
    padding: 5px 8px 5px 8px;
    margin-left: 100px;
    margin-top: 12px;
}

#section{
    background-color: white;
    color: rgba(151, 151, 151, 0.807);
    border-radius: 4px;
    border: 1px solid rgba(151, 151, 151, 0.807);
    padding: 5px 8px 5px 8px;

}

.container{
    width: 60%;
    height: 580px;
    margin: auto;
    margin-top: 2px;
    background-color: white;
    border-radius: 0 0 5px 5px;

}

.container{
    padding-left: 95px;
    padding-top: 20px;
}

.titoli{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.check::after{
    content: "\002714";
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 206, 96);
    border: 2px solid rgb(0, 206, 96);
    border-radius: 50%;
    padding: 2px;
}

.cross::after{
    content: "\2717";
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px;
    color: red;
    border: 2px solid red;
}
.mark{
    border-radius: 10px;
    padding: 4px;
}


.blue{
    background-color: rgb(0, 149, 255);
    border-radius: 10px;
    padding: 4px;
}

.quest{
    margin-top: 20px;
}

.violet{
    border-radius: 10px;
    padding: 4px;
    background-color: rgb(144, 90, 159);
}

.green{
    border-radius: 10px;
    padding: 4px;
    background-color: rgb(100, 172, 94);

}

.orange{
    border-radius: 10px;
    padding: 4px;
    background-color: rgb(235, 172, 85);

}

.pink{
    border-radius: 10px;
    padding: 4px;
    background-color: rgb(235, 147, 210);
}

.skyblue{
    border-radius: 10px;
    padding: 4px;
    background-color: rgb(124, 239, 187);

}
