/* Regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}

header{
    padding: 10px 30px;
    background-color: white;
    margin-bottom: 40px;
}

#scrittalogo{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

#logo{
    line-height: 100px;
    vertical-align: middle;
    
}

.navigazione{
    width: 60%;
    height: 50px;
    background-color: white;
    margin:auto;
    border-radius:5px 5px 0 0 ;
}

#task{
    background-color: rgb(0, 149, 255);
    color: white;
    border-radius: 4px;
    border: 1px solid rgba(151, 151, 151, 0.807);
    padding: 5px 8px 5px 8px;
    margin-left: 100px;
    margin-top: 12px;
}

#section{
    background-color: white;
    color: rgba(151, 151, 151, 0.807);
    border-radius: 4px;
    border: 1px solid rgba(151, 151, 151, 0.807);
    padding: 5px 8px 5px 8px;

}

.container{
    width: 60%;
    height: 580px;
    margin: auto;
    margin-top: 2px;
    background-color: white;
    border-radius: 0 0 5px 5px;

}

.container{
    padding-left: 95px;
    padding-top: 20px;
}

.titoli{
    font-weight: bold;
    font-size: 20px;
}

.check::after{
    content: "\002713";
    color: green;
    border: 2px solid green;
    border-radius: 100%;
    padding: 2px;
}

.bluemark{
    background-color: rgb(0, 149, 255);
    border-radius: 10px;
    padding: 4px;
}

.task{
    margin-top: 20px;
    
}